<section style="background-color:lightgrey; content:center; padding: 30px 30px 50px 10%; overflox-x:none; width=100%;">

	<h1 style="color:purple; ">Salut <%= @user.name.capitalize %>!</h1>

	<h3 style="color:purple;"> C'est le moment de changer ce mot de passe !</h3>

	<p>Rien de plus simple, clique simplement sur <%= link_to "ce lien.", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %></p>

    <p>Ce lien ne sera valide que pendant 2 heure, à titre de rappel, sache qu'il t'a été envoyé à <% @user.reset_sent_at %></p>

    <p>A très bientôt sur le peperoni-café ! </p>

</section>
