
<div style="background-color:purple; height:50px; width=100%"></div>
<section style="background-color:lightgrey; content:center; padding: 30px 30px 50px 10%; overflox-x:none; width=100%;">
  <h1 style="color:purple; ">Bienvenue sur le Pépéroni - Café, <%= @user.name.capitalize %>!</h1>
  <p>
    Ton inscription a l'air de s'être bien passé, sinon tu ne lirais pas ce mail.
    <br>
    Ton pseudo est : <%= @user.email %>, c'est aussi ton email d'ailleurs.<br>
  </p>
  <p>
    Pour te connecter au site, <a href="<%= @url %>"> clique ici.</a> 
  </p>
  <p>Merci de nous avoir rejoint et à très bientôt !</p>
  </section
<div style="background-color:purple; height:50px; width=100%"></div>

