
<section class="jumbotron" id="jumbo">
</section>

<section class="container" id="jumbi">
  <div class="text-center madiv">
    <h2 >Peperoni Cafe</h2>
    <h3>Bienvenue dans le e-café.</h3>
    <a class="btn btn-primary" href="/pages/contact">Voir tout</a>
  </div>
</section> 
    
<section class="jumbotron" id="movance">
  <div class="row" id="firsty">
    <div class="col-sm-6 col-xs-12">
      <div id= "texta">
        <p id="otherp">Ma petite description</p>
          <text class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit.</text>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12">
      <div>
        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/tvTRZJ-4EyI" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>  
  </div>  

      
  <div class="row" id="third">
    <div class="col-sm-6 col-xs-12">
      <p>Témoins de Jeovah</p>
      <div>
        <img src="http://img4.hostingpics.net/pics/974790Capturedecran20170401a223233.png">
        <a href="#">Envie d'en savoir plus ?</a>
      </div>
    </div>
      <div class="col-xs-12 col-sm-6">
        <p>Woodwork</p>
        <div>
          <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/woodwork.jpg">
          <a href="#">Envie d'en savoir plus ?</a>
        </div>
      </div>
      
    </div>  
    <div class="row">
      <div class="col-xs-12">
        <div id="storytext">
            <text> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</text>
        </div>
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <p>Kitchen</p>
        <div>
            <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/woodwork.jpg">
            <a href="#">Envie d'en savoir plus ?</a>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12">
        <p>Woodwork</p>
        <div>
            <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/woodwork.jpg">
            <a href="#">Envie d'en savoir plus ?</a>
        </div>
      </div>
    </div>
  </section>
    