<!DOCTYPE html>
<html>
  <head>
  	<meta charset='UTF-8'>
    <meta content='text/html'> 
    <meta http-equiv='Content-Type'>
  </head>
<body style="font-family: Optima;">

<%= yield %>

</body>
</html>